.content {
	margin-left: 13%;
	margin-right: 13%;
	overflow: auto; 
	height: 100%;
	background-color: white;
}

.class-table {
	margin: 20px;
}

body {
	padding-top: 50px;
	background-color: #DEDEDE;
}

span.className {
	font-family: 'Open Sans', sans-serif;
	color: #5cb85c;
	font-size: 13pt;
	word-wrap: break-word;
}

span.classDef {
	font-family: 'Lato', serif;
	font-size: 13pt;
}

span.classSynonym {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
}

span.classSynonymList {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 100;
}


.navbar-input-group {
	font-size: 0px; /*removes whitespace between button and input*/
	margin-left: 20%;
}

.navbar-input-group input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.navbar-input-group .btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
}


.icon {
	font-size: 75px;
	font-family: 'Glyphicons Halflings';
}

	#v_nav_bar a { padding-top:31%; padding-bottom: 20%; padding-left: 18px; display:block; width:50px; color:#777;}
    #v_nav_bar a:link { color:#777; background-color:#202020; }
    #v_nav_bar a:hover { color:#CCC; background-color:#666; }
    #v_nav_bar a:active { color:#f0f0f0; background-color:#999; }
	#v_nav_bar {
	line-height: 0;
	float:left;
  	position:absolute;
  	top: 50px;
}

.menu_active {
	background-color:#f9f9f9 !important;
	text-decoration:none !important;
}

div.scrollable {
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.sourceName {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
}